
.jumbotron .container{position:relative;
}
.jumbotron h1 {
color:Navy-Blue;
font-size:47px;
font-weight:bold;
font-family:'Shift', sans-serif;
text-align:center;

} 
.jumbotron{
    background:  	#FFB90F;
    position:relative;
   
}
.nav a {
  color: #fff;
  font-size: 14px;
  font-weight:bold;
  padding-top:14px;
  padding-right:10px;
  padding-left:10px;
  padding-bottom:14px;
  text-transform: uppercase;
}
.nav{background:black;}
.nav li{display:inline;}

.learn-more h3 {font-family:'Shift', sans-serif;
font-size:30px;

font-weight:bold;
}
.learn-more p {
color:black;
font-size:25px;
}
.learn-more li{font-size:20px;
}
.learn-more {padding-top:110px;
padding-bottom:150px;
	position:relative;
}

body {    background: url("kindajean.png");
    
	}
.learn h3 {font-family:'Shift', sans-serif;
font-size:18px;

font-weight:bold;
}
.learn {
	
  background-image:url('stardust_@2X.png');
  margin-right:-15px;
}
.learn a {color:orange;}
.learn p {color:#fff;}
.learn h3 {color:#fff;}